@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* App Default */
a {
  color: #fafafc;
  cursor: pointer;
}
a:hover {
  color: #ffc107;
}
li {
  list-style-type: none;
  margin-bottom: 8px;
}
span,
cite {
  display: block;
  font-size: 13px;
}
section {
  padding: 15px 30px 10px;
}
hr {
  width: calc(100% - 50px);
  border-color: #737378;
}
svg {
  display: block;
  width: 100%;
}
span {
  color: #fafafc;
}
cite {
  color: #737378;
  font-style: initial;
}

h1, h2, h3 {
  color: #fafafc;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0px;
  cursor: pointer;
}
h1:hover, h2:hover, h3:hover {
  color: #ffc107;
}

/* Float */
.left {
  float: left;
}
.right {
  float: right;
}

/* Main columns */
.wrapper {
  position: relative;
}
.left-sidebar {
background: #20202a;
  width: 290px;
  min-width: 290px;
  z-index: 999;
  -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  padding-top: 240px;
  float: left;
}
.right-sidebar {
  width: 80px;
  position: absolute;
  right: 0px;
  top: 0px;
  min-height: 100vh;
  background: #20202a;
}

main {
  width: calc(100% - 290px);
  padding-right: 80px;
}

.sidebar-about-me {
  padding: 30px;
  height: 255px;
  background: #252531;
  text-align: center;
  box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
  position: fixed;
  width: 290px;
  top: 0px;
  z-index: 10;
}
.sidebar-about-me:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0;
  border: 25px solid transparent;
  border-bottom: 12px solid #20202a;
  z-index: 2;
}
.sidebar-about-me img {
-o-object-fit: cover;
object-fit: cover;
border-radius: 50%;
}
.sidebar-about-me cite {
margin-bottom: 4px;
}

.sidebar-info ul li {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}
.sidebar-languages ul li {
  float: left;
  width: 29%;
  margin-right: 6.3%;
  text-align: center;
  padding: 0px 1%;
  position: relative;
}
.sidebar-languages ul li:last-child {
  margin-right: 0px;
}

.sidebar-languages ul li span {
  margin: 10px 0px;
  display: block;
}
.sidebar-languages ul li cite {
  position: absolute;
  top: 21px;
  left: calc(50% - 12px);
  font-size: 10px;
}

.sidebar-print cite {
  text-shadow: 0 0 1px rgb(250 250 252 / 40%);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.sidebar-knowledge li {
  color: #737378;
  margin-bottom: 5px;
}

.sidebar-knowledge ul {
  padding-left: 5px;
}
.sidebar-knowledge li:before {
  content: "\00BB";
  margin-right: 5px;
}

.sidebar-coding svg {
  height: 12px;
}
.sidebar-coding span {
  float: left;
}
.sidebar-coding cite {
  float: right;
}

.sidebar-print cite:hover {
  color: #ffc107;
}

.social-icons {
  padding-top: 5px;
  position: relative;
  z-index: 15;
}
.social-icons a {
  margin-right: 10px;
}
.social-icons a:last-child {
  margin-right: 0px;
}
.social-icons a i {
  font-size: 21px;
  color: #737378;
}
.social-icons a:hover i {
  color: #fafafc;
}

.menu-open {
  text-align: center;
  padding: 20px 0px;
}

.menu-open i {
  cursor: pointer;
  font-size: 30px;
  color: #737378;
}
.menu-open i:hover {
  color: #fafafc;
}
